.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  background: #fff;
  border-color: #aaa;
  color: #000;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--selected {
  border: 2px solid;
  background: #adffb6;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
  display: inline-flex;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
